@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;700&family=Montserrat:wght@400;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin-top: 0;
}

body {
    background: #f5f5f5;
    color: #18314f;
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
}

p {
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 1;
    font-weight: 400;
    margin: 3em 0;
}

h2 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 3em;
    letter-spacing: 8px;
    text-align: center;
    color: #8bc34a;
}

/* h2::after {
  content: "";
  display: block;
  border-bottom: 1px solid #18314f;
  width: 20%;
  margin: 3em auto 0;
} */

h2 span {
    font-size: 5em;
    font-weight: 700;
    display: block;
    color: #18314f;
}

a {
    color: #8bbeb2;
}

a:hover {
    color: #7ae7c7;
}

section {
    background: white;
    box-shadow: 0 7px 10px -10px rgb(0 0 0 / 25%);
    width: 80%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    border: 3px solid #98ca60ba;
}

.the-ones-you-know code {
    font-weight: 600;
}

.universal code {
    background: #d1ecef;
    padding: 0.25em;
}

.direct-children .example {
    padding: 1em;
    background: #d1ecef;
}

.direct-children .example p {
    margin: 0;
}

.adjacent-sibling,
.general-sibling h2,
.child-selector,
.before-after {
    text-align: center;
}

.adjacent-sibling .box,
.general-sibling .box,
.child-selector .box,
.before-after .box {
    height: 75px;
    width: 75px;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-bottom: 4px;
}

.general-sibling ul {
    text-align: left;
}

.inputs label {
    display: block;
}

.inputs input,
.inputs textarea {
    border-radius: 6px;
    border-width: 1px;
    padding: 0.5rem 1rem;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
}

.target-selector ul {
    list-style: none;
    margin-top: 1rem;
}

/* =================================
   Universal 
   ================================= */

.universal * {
    color: red;
}

/* =================================
   Direct children
   ================================= */

/* .direct-children > p {
  color: red;
} */

.direct-children>div>p {
    color: red;
}

/* .direct-children .selected {
  color: blue;
} */

/* =================================
   Adjacent siblings
   ================================= */

.adjacent-sibling>div+p {
    color: red;
}

/* .adjacent-sibling h2 + div {
  background-color: red !important;
} */

.adjacent-sibling>div h4+p {
    color: blue;
}

.adjacent-sibling>.box+.box {
    background-color: rebeccapurple;
}

/* =================================
   General siblings
   ================================= */

.general-sibling strong~ul:not(span + ul):not(.disabled) {
    background-color: red;
}

/* .general-sibling span + ul {
  background-color: white;
} */

.general-sibling .box~.box {
    background-color: blue;
}

/* =================================
   Child Selector
   ================================= */

/* .child-selector .wrapper .box:nth-child(n + 7):nth-child(-n + 10) {
  background-color: red;
} */
.child-selector .wrapper .box:first-of-type {
    background-color: red;
}

.child-selector .wrapper .box:nth-of-type(n + 7) {
    background-color: blue;
}

.child-selector .wrapper .box:last-of-type {
    background-color: red;
}

/* =================================
Attributes
================================= */
.attribute a[title] {
    color: black;
}

.attribute a[href="about.html"] {
    font-size: 3rem;
}

.attribute a[href$=".ca"] {
    color: purple;
}

.attribute a[href$=".pdf"] {
    text-decoration: none;
}

.attribute a[href="#"] {
    display: none;
}

.attribute a[href^="https://"] {
    color: green;
}

.attribute a[href^="http://"] {
    color: red;
}

/* .link-one, .link-two, .link-three{
  same as below
} */

.attribute a[class|="link"] {
    background-color: gray;
}

/* =================================
Inputs
================================= */

.inputs input[placeholder*="type"] {
    border-color: red;
}

.inputs input:in-range {
    border-color: green;
    border-width: 2px;
}

.inputs input:out-of-range {
    border-color: red;
    border-width: 2px;
}

/* .inputs input[checked] {
  margin-left: 200px;
} */

.inputs input:checked {
    margin-left: 200px;
}

/* =================================
   Before / After
   ================================= */

.before-after .box {
    position: relative;
}

/* .before-after .box:hover {
  background-color: teal;
} */

.before-after .box:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: -75px;
    position: absolute;
    background-color: green;
}

.before-after .box:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: -75px;
    position: absolute;
    background-color: red;
}

.image-section .image-wrapper {
    position: relative;
}

.image-section .image-wrapper p {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.image-section .image-wrapper::before {
    content: "";
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.2) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body section:nth-of-type(4)>h2>span {
    color: red;
}

/* =================================
   Target Selector
   ================================= */